{% extends "base_login.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h3 class="text-center mb-4">Acessar Sistema</h3>

{% if error %}
<div class="alert alert-danger text-center">
    {{ error }}
</div>
{% endif %}

<form method="post" action="{{ request.url_for('login_post') }}">
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" required autofocus>
    </div>

    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" required>
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-3">
        Entrar
    </button>
</form>
{% endblock %}